
.star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.star input[type=radio] {
  display: none;
}
.star label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 35px;
}
.star label:hover {
  color: #ffcc00;
}
.star label:hover ~ label {
  color: #ffcc00;
}
.star input[type=radio]:checked ~ label {
  color: #ffcc00;
}

#map{
  width: 900px;
  
}

.facility{
  padding: 20px;
  /*text-align:center;*/
  
  
}
a:link {
  color: #65BBE9;
}

a:visited {
  color: #551A8B;
  text-decoration: underline;
}

a:active {
  color: #FF0000;
  text-decoration: underline;
}

.facilityimage{
  max-width:20%;
  display: flex;
  justify-content: space-between;
}